{
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "jest/globals": true
  },
  "parser": "babel-eslint",
  "plugins": ["jest","node"],
  "extends": ["eslint:recommended", "plugin:jest/recommended", "plugin:node/recommended"],
  "rules": {
      "no-console": 0,
      "max-len": 0,
      "function-paren-newline": 0,
      "indent": ["error", 2]
  }
}